@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$accent: #ff1744;
$primary: #3d5afe;
$pdark: #3d5afe;
$plight: #8187ff;
$black2: rgba(0, 0, 0, 0.7);

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 300ms;
   
}
.topnav:hover{
    background-color: $accent;
}
.topnav ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 200px;
    margin: auto;
    text-align: center;
    cursor: default;
}

.topnav a {
    transition: color 200ms;
    text-decoration: none;
    color: black;
}

.topnav a:hover {
    color: white;
}

.gap{
    margin-top: 100px;
}

//head

.head {
   
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.head_text{
    margin-left: 200px;
    width: 400px;
}
.head video, .head_video {
    width: 600px;
  
}

// middle

.middle{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

// nav left

.navleft{

    margin: 20px;
    margin-top: 0;
}

.navleft ul{
    list-style: none;
}
.tag{
    margin: 10px;
    font-size: 120%;
    vertical-align: center;
    padding: 10px;
    padding-left: 20px;
   
    transition: all 200ms;
    border-radius: 8px;
    width: 100px;
    border: 1px solid $accent;
    background-color:white;
    color:  $accent;
}

.tag:hover{
    
    background-color: $accent;
    color: white;
    border: 1px solid #ddd;
}

.navleft h3{
    border-bottom: 1px solid $black2;
    padding-bottom: 10px;
    color: $black2;
}

.navleft a{
    text-decoration: none;
    width: max-content;
 
}

// main content


.image{
    display: inline-block;
    box-shadow: 0 0  5px 1px rgba(0, 0, 0, 0.418);
   margin: 10px;
   transition: all 200ms;
   width: 240px;
   
   border-radius: 10px;

 
}
.image:hover {
    box-shadow: 0 0  10px 2px rgba(0, 0, 0, 0.418);
    background-color: $accent;
    color: white;
}

.image img{
    width: 200px;
    margin: 20px;
}
.image p{
    margin: 20px;
    font-weight: bold;
}
