@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.topnav ul {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 200px;
  margin: auto;
  text-align: center;
  cursor: default;
}

.topnav a {
  -webkit-transition: color 200ms;
  transition: color 200ms;
  text-decoration: none;
  color: black;
}

.topnav a:hover {
  color: #e43f3f;
}

.gap {
  margin-top: 100px;
}

.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
}

.offer_card {
  max-height: 400px;
  color: white;
  font-size: 120%;
  margin: 20px;
  height: 200px;
}

.offer_card:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  height: 400px;
}

.offer_img {
  height: 100%;
  position: relative;
  left: 0%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  top: 0%;
  background-color: black;
  -webkit-box-shadow: 0 0 10px 1px black;
          box-shadow: 0 0 10px 1px black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.offer_card:nth-child(1) .offer_img {
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
}

.offer_img:hover {
  height: 110%;
  margin-top: -1%;
  left: 2%;
  top: -2%;
  -webkit-box-shadow: 0 0 20px 1px black;
          box-shadow: 0 0 20px 1px black;
}

.offer_img img {
  height: 100%;
  max-width: 160%;
  margin-left: 20px;
  z-index: 90;
}

.offer_text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -20px;
  z-index: 100;
}

.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.head_text {
  margin-left: 200px;
  width: 400px;
}

.head video, .head_video {
  width: 600px;
}

.middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

.navleft {
  margin: 20px;
  margin-top: 0;
}

.navleft ul {
  list-style: none;
}

.tag {
  margin: 10px;
  font-size: 110%;
  vertical-align: center;
  padding: 7px;
  padding-left: 20px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  width: 100px;
  border: 1px solid #222222;
  background-color: white;
  color: #222222;
}

.tag:hover {
  background-color: #222222;
  color: white;
  border: 1px solid #ddd;
}

.navleft h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.navleft a {
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.image {
  display: inline-block;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.418);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.418);
  margin: 10px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: white;
  border-radius: 1px;
}

.image:hover {
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.418);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.418);
}

.image img {
  width: 200px;
  margin: 0;
  -webkit-transition: width 200ms;
  transition: width 200ms;
}

.image img:hover {
  width: 210px;
}

.image .p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  margin: 10px;
  color: black;
}

.image a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */