{% extends "block_content/base.html" %}
{% block content %}
{% if main_page == "1" %}

<div class="head">
    <div class="topnav">
        <ul>
            <li>Home</li>
            <li>Contact us</li>
            <li>Cloths</li>
            <li>Food</li>
        </ul>
    </div>


    <div class="head_text">
        <p>A Fashion Wear</p>
    </div>
    <div class="head_img">
        <div class="head_box">
            <p>View All Cloths</p>

        </div>
        <div class="head_box">
            <p>View Panjabis</p>
        </div>
        <div class="head_box">
            <p>View Shirts</p>
        </div>
        <div class="head_box">
            <p>View All Food</p>
        </div>

    </div>
    <div class="head_text2">
        <p>A collection of beautiful and elegant Panjabi and Shirt</p>
    </div>
</div>
{% endif %}
<div class="middle">
    <div class="middle_text">
        <p>All Cloths</p>
    </div>
    <div class="middle_content">
        <!-- <div class="navleft">
            <h3>Tags</h3>
            <ul>
                {% for a in range(0,tags_length)%}
                <a href="{{tags[a]}}">
                    <div class="tag">{{tags[a]}}</div>
                </a>
                {% endfor %}

            </ul>

        </div> -->
        <div class="main_content">
            <div class="images">
                {%for a in range(0, imagelength)%}
                <a href="/product/{{all_cloths_data[a][0]}}">
                    <div class="image">
                        <img src="data:image/png;base64, {{all_images[a]}}" alt="Red dot" />

                        <div class="p">{{all_cloths_data[a][2]}}</div>
                        <div class="p">Price {{all_cloths_data[a][1]}}</div>

                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock %}