{% extends "block_content/base.html" %} {% block content %} {% if main_page == "1" %}

<div class="head">
    <div class="topnav">
        <ul>
            <li>Pajnabi</li>
            <li>Shirts</li>
            <span>Home</span>
            <span>Contact us</span>
        </ul>
    </div>
    <div class="head_text">
        <h2>A Fashion Wear</h2>
    </div>

    <div class="head_img">
        <div class="head_box">
            <p>View All Cloths</p>
        </div>
        <div class="head_box">
            <p>View Panjabis</p>
        </div>
        <div class="head_box">
            <p>View Shirts</p>
        </div>
        <div class="head_box">
            <p>View All Food</p>
        </div>
    </div>
    <div class="head_text2">
        <p>A collection of beautiful and elegant Panjabi and Shirt</p>
    </div>
</div>
{% endif %}
<div class="middle">
    <div class="middle_text">
        <p>All Cloths</p>
    </div>
    <div class="middle_content">
        <!-- <div class="navleft">
            <h3>Tags</h3>
            <ul>
                {% for a in range(0,tags_length)%}
                <a href="{{tags[a]}}">
                    <div class="tag">{{tags[a]}}</div>
                </a>
                {% endfor %}

            </ul>

        </div> -->
        <div class="main_content">
            <div class="images">
                {%for a in range(0, imagelength)%}

                <div class="image" onclick="show_product(this)">
                    <div class="p">
                        {{all_cloths_data[a][2]}}
                        <br /> Price {{all_cloths_data[a][1]}}
                    </div>

                    <img src="data:image/png;base64, {{all_cloths_data[a][3]}}" alt="Red dot" />
                </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
<div class="block"></div>
<div class="right_product">
    <div class="product_top">
        <div class="product_image">
            <img src="data:image/png;base64, {{all_cloths_data[1][3]}}" alt="Red dot" />
        </div>

        <div class="product_text">
            {{all_cloths_data[1][2]}}
            <br /> Price: {{all_cloths_data[1][1]}}
            <br><br>
            <p>View all from this category</p>

        </div>
    </div>
    <div class="information">
        <h2>Contact Us</h2>
        <div class="contact_product">

            <a href="https://www.facebook.com/AFashionWear/" target="_blank" rel="noopener noreferrer">
                <div class="contact_box">
                    <img src="/static/social/facebook.png" alt="" />
                    <p> Visit Facebook Page</p>
                </div>
            </a>
            <div class="contact_box">
                <img src="/static/social/Whatsapp.png" alt="" />
                <p> Whatsapp</p>
            </div>

        </div>
    </div>
</div>
<script>
    function show_product(object) {

        block = document.getElementsByClassName("block")[0]
        block.classList.add("block_show")

     

        product_image = document.getElementsByClassName("product_image")[0]
        right_product = document.getElementsByClassName("right_product")[0]
        right_product.classList.add("right_product_show");
        image_src = object.getElementsByTagName("img")[0].src
        product_image.getElementsByTagName("img")[0].src = image_src
        block.addEventListener("click", function(){
            right_product.classList.remove("right_product_show");
            
            this.classList.remove("block_show")
        })
    }
</script>
{% endblock %}