<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Fashion Wear</title>
    <link rel="stylesheet" href="/static/main/main.css">
</head>

<body>
   
    <!-- <div class="gap"></div>
<div class="topnav">
    <ul>
        <a href="/men">Men's</a>
        <a href="/women">Women's</a>
    </ul>
</div> -->

{% block content %}{% endblock %}

<div class="footer"></div>
</body>

</html>